
<div id="homeContainer">
<div  style="position: relative; z-index: 10;" id='seachBar' class="container w-50 p-3";">
	<h1>Cota - Tv Show DB</h1><br>
	<form class="form-inline d-flex justify-content-center md-form form-sm active-cyan active-pink-2 mt-2" >
	<i class="fas fa-search" aria-hidden="true" style="color:white"></i>
	<input  class="form-control form-control-lg ml-3 w-75" type="text" id='search' placeholder="Search"
	  aria-label="Search">

	 
	</form>
	  </div><br>
		  <div style="position:relative;     z-index: 4;" id='searchPi'></div>
	
	</div>