 <ul class="nav navbar-nav ml-auto">
    	<li class="nav-item">
    <a class="nav-link" ><span class="fas fa-user"  id='currUsername'></span>{{this}}</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#logout"><span class="fas fa-sign-in-alt"></span> Logout</a> </li>
 </ul>